.d1{
    background-color: blue;
    color: red;
}
.d2
{
    background-color: orange;
    height: 40px;
    width: 40px;
    color: red;
    border-radius: 1em;
    display: flexbox;

}
.d3
{
    background-color: orange;
    height: 40px;
    width: 40px;
    color: red;
    border-radius: 1em;
    display: flexbox;
}
.d4
{
    background-color: orange;
    height: 40px;
    width: 40px;
    color: red;
    border-radius: 1em;
    display: flexbox;
}
.d5
{
    background-color: orange;
    height: 40px;
    width: 40px;
    color: red;
    border-radius: 1em;
    display: flexbox;
}
.d6
{
    background-color: orange;
    height: 40px;
    width: 40px;
    color: red;
    border-radius: 1em;
    display: flexbox;
}
.d7
{
    background-color: orange;
    height: 40px;
    width: 40px;
    color: red;
    border-radius: 1em;
    display: flexbox;
}
.d8
{
    background-color: orange;
    height: 40px;
    width: 40px;
    color: red;
    border-radius: 1em;
    display: flexbox;
}